# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Sensitive or high-churn files:
*.json
*.xlsx
/fcfb/configuration/config.json
/fcfb/configuration/FCFBRollCallBot-2d263a255851.json
/fcfb/configuration/FCSElo.xlsx